<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notepad.bullsandcows">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BullsAndCowsApp"
        android:allowBackup="true"
        android:icon="@drawable/bullgood"
        android:label="@string/APP_NAME"
        android:roundIcon="@drawable/bullgood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.activities.SplashStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.activities.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.activities.RulesPageActivity"
            android:parentActivityName=".ui.activity.activities.MainActivity" />
        <activity
            android:name=".ui.activity.activities.SettingActivity"
            android:parentActivityName=".ui.activity.activities.MainActivity" />
        <activity
            android:name=".ui.activity.activities.AboutActivity"
            android:parentActivityName=".ui.activity.activities.MainActivity" />
        <activity
            android:name=".ui.activity.activities.WelcomeActivity"
            android:parentActivityName=".ui.activity.activities.MainActivity" />

        <service android:name=".services.WinSoundService" />
        <service android:name=".services.WaiterNewRecordsService"/>
        <service android:name=".services.UpdateAppService" />

        <activity android:name=".ui.activity.activities.RegistrationPageActivity" />
        <activity android:name=".ui.activity.activities.RecordsCardActivity" />
        <activity android:name=".ui.activity.activities.RecordsCardActivityFromBD" />
        <activity android:name=".ui.activity.activities.RecordsCardActivityFromCursorLoaderActivity" />
        <provider
            android:authorities="com.example.notepad.bullsandcows.data.providers"
            android:name=".data.providers.RecordsContentProvider">

        </provider>

    </application>

</manifest>