<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notepad.bullsandcows">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bullgood"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bullgood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.activiteis.SplashStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.activiteis.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.activiteis.RulesPageActivity"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />
        <activity
            android:name=".ui.activity.activiteis.SettingActivity"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />
        <activity
            android:name=".ui.activity.activiteis.AboutActivity"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />
        <activity
            android:name=".Records"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />
        <activity
            android:name=".ui.activity.activiteis.WelcomeActivity"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />
        <activity
            android:name=".OnlineRecords"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />

        <service android:name=".services.WinSoundService" />
        <service android:name=".services.RefreshOnlineRecordService" />
        <service android:name=".services.WaiterNewRecordsService"/>

        <activity android:name=".ui.activity.activiteis.RegistrationPageActivity" />
        <activity
            android:name=".ChoiceLanguageActivity"
            android:parentActivityName=".ui.activity.activiteis.MainActivity" />
        <activity android:name=".ui.activity.activiteis.RecordsCardActivity" />
        <activity android:name=".ui.activity.activiteis.RecordsCardActivityFromBD" />
        <activity android:name=".ui.activity.activiteis.RecordsCardActivityFromCursorLoader" />
    </application>

</manifest>